<main class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-12">
            <a class="btn btn-primary btn-sm mb-2" href="/add-tournament" role="button">
                <i class="fas fa-plus-circle"></i>Add Tournament
            </a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header row -->
                <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Schedule</th>
                    <th class="text-center">Players</th>
                    <th>Action</th>
                </tr>
            </thead>
                <!-- Rows -->
                <tbody>
                    <tr *ngFor='let tour of tournaments'>
                        <td class="text-center">{{tour.name}}</td>
                        <td class="text-center">{{tour.schedule}}</td>
                        <td class="text-center">{{tour.players}}</td>
                        <td>
                            <a [routerLink]="['/edit-tournament/', tour._id]" class="btn btn-success btn-sm">
                                <i class="fas fa-pencil-alt"></i>Edit
                            </a>
                            <a (click)="deleteTour(tour._id)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>Delete
                            </a>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </main>

