<section id="contact" class=" footer-paralax bg-image sect-mt4 route mb-5 pt-2" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message Us
                    </h5>
                  </div>
                  <div>
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
                          </div>
                        </div>
                        <div class="col-md-12 text-center my-3">
                          <div class="loading d-none">Loading</div>
                          <div class="error-message d-none"></div>
                          <div class="sent-message d-none">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="col-md-12 text-center">
                          <a type="submit" class="btn btn-warning" href="/home">Send Message</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      If you have any questions, please feel free to drop me a line. I'll get back to you as soon as I can.
                    </p>
                    <ul class="list-ico">
                      <li><i class="fas fa-map-marker-alt"></i> 68 Crayford Drive</li>
                      <li><i class="fas fa-mobile-alt"></i>  +1 437-974-9956</li>
                      <li><i class="far fa-envelope"></i> whitneydsouza18@example.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li style="display: inline-block; float: left;"><a href=""><span class="ico-circle"><i class="fab fa-facebook-f"></i></span></a></li>
                      <li style="display: inline-block; float: left;"><a href=""><span class="ico-circle"><i class="fab fa-instagram"></i></span></a></li>
                      <li style="display: inline-block; float: left;"><a href=""><span class="ico-circle"><i class="fab fa-twitter"></i></span></a></li>
                      <li style="display: inline-block; float: left;"><a href=""><span class="ico-circle"><i class="fab fa-linkedin-in"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>