<div class="middle text-center clearfix" style="padding-top: 92.5px; background: url('Assets/images/bg.jpg');background-size: cover;
color: #ffffff;height: 500px;">
    <div class="container">
        <h1 class="pro-name">Whitney Alexis Dsouza</h1>
        <p class="tagline">I am and always will be a student. I will keep the beginners mind by playing and experimenting without the fear of failure. There will always be things I have to learn and I will make mistakes, which develop me.</p>
        <a type="button" class="btn btn-warning rounded-pill" href="/about">Learn More</a>
    </div>
</div>