<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="Assets\images\2.png" style="height: auto;width: 50px;" class="img-fluid rounded b-shadow-a" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <% if (title == "Home") { %> 
            <a class="nav-link active" href="/home"><i class="fas fa-home"></i> Home</a>
          <% } else { %> 
            <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home</a>
           <% } %>  
          </li>
          
          <li class="nav-item">
            <% if (title == "About") { %> 
              <a class="nav-link active" href="/about"><i class="fas fa-info"></i> About</a>
            <% } else { %> 
              <a class="nav-link" href="/about"><i class="fas fa-info"></i> About</a>
             <% } %> 
          </li>
          <li class="nav-item">
            <% if (title == "Products") { %> 
              <a class="nav-link active" href="/products"><i class="fab fa-elementor"></i> Products</a>
            <% } else { %> 
              <a class="nav-link" href="/products"><i class="fab fa-elementor"></i> Products</a>
            <% } %> 
          </li>
          <li class="nav-item">
            <% if (title == "Services") { %> 
              <a class="nav-link active" href="/services"><i class="fas fa-cogs"></i> Services</a>
            <% } else { %> 
              <a class="nav-link" href="/services"><i class="fas fa-cogs"></i> Services</a>
            <% } %> 
          </li>
          <li class="nav-item">
            <% if (title == "Contact") { %> 
            <a class="nav-link active" href="/contact"><i class="fas fa-phone-alt"></i> Contact</a>
            <% } else { %> 
            <a class="nav-link" href="/contact"><i class="fas fa-phone-alt"></i> Contact</a>
            <% } %> 
          </li>
          <li class="nav-item">
            <% if (title == "Business Contacts List") { %> 
              <a class="nav-link active" href="/user-list"><i class="fas fa-users"></i> Users</a>
            <% } else { %> 
              <a class="nav-link" href="/user-list"><i class="fas fa-users"></i> Users</a>
            <% } %> 
          </li>
          <% if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text"><i class="fas fa-user"></i>Welcome, <%= displayName  %> </li>
          <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-sign-out-alt"></i>Logout</a></li>
          <% }else { %>
          <li class="nav-item"><a href="/login" class="nav-link">
            <i class="fas fa-sign-in-alt"></i>Login</a></li>
          <% }  %>   
      </div>
    </div>
  </nav>