       <!-- Topic Cards -->
       <div id="products">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="">
                        <div class="product_card">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="Assets/images/Visualizer.jpeg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Visualizer</h6>
                                    <p>Developed dynamic dashboard application with custom designs for CRM clients which enabled them to keep track of the productivity on a daily, weekly and even yearly basis.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="">
                        <div class="product_card">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="Assets/images/products2.png" alt="" />
                                </div>
                                <div class="text-container">                                    
                                    <h6>Indoor / Outdoor tracking</h6>
                                    <p>Integrated and customized Google maps where the client can track
                                        their productive and non-productive orders along with billing details.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="">
                        <div class="product_card">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="Assets/images/products3.png" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Near Real-time Tracking of Autistic Children</h6>
                                   <p>Developed an application that provided the ability to parents to have an insight into the day-to-day life of their special
                                    children diagnosed with autism, by allowing them to be tracked real time.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
