/* Custom CSS */
/* 
Student Name : Whitney Dsouza
Student ID: 301169730
Date: 28/09/2021
*/
body {
    background-color: #f5f5f5;
    color: #4e4e4e;
}

/* About Page CSS */
.progress-bar1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: orange;
  transition: width .6s ease;
  animation: progressBar1 3s ease-in-out;
  animation-fill-mode:both; 
}

.progress-bar3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: orange;
  transition: width .6s ease;
  animation: progressBar3 3s ease-in-out;
  animation-fill-mode:both; 
}
.progress-bar2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: orange;
  transition: width .6s ease;
  animation: progressBar2 3s ease-in-out;
  animation-fill-mode:both; 
}
.progress-bar4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: orange;
  transition: width .6s ease;
  animation: progressBar4 3s ease-in-out;
  animation-fill-mode:both; 
}
@keyframes progressBar1 {
0% { width: 0; }
100% { width: 85%; }
}
@keyframes progressBar2 {
  0% { width: 0; }
  100% { width: 75%; }
}
@keyframes progressBar3 {
  0% { width: 0; }
  100% { width: 50%; }
}
@keyframes progressBar4 {
  0% { width: 0; }
  100% { width: 90%; }
  }
.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.service-box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e;
}
.box-shadow, .card-blog, .work-box, .service-box, .paralax-mf {
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}

.service-box .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px orange;
    display: block;
}

.service-box .ico-circle i {
    line-height: 0;
    font-size: 40px;
}

.service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
}
.service-box .s-description {
    color: #4e4e4e;
}

/* Contact Page CSS */

.list-ico {
    line-height: 2;
}
.ul-resect, .widget-tags ul, .widget-sidebar .list-sidebar, .box-comments .list-comments, .blog-wrapper .post-meta ul, .list-ico, .socials ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.php-email-form input {
    padding: 10px 15px;
}
.php-email-form input, .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.socials {
    padding: 1.5rem 0;
}
.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    border-radius: 50%;
    line-height: 1.6;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px orange;
    transition: all 500ms ease;
    color: #000000;
}

/* Products Page CSS */
/*----  Main Style  ----*/
#products{
    text-align: center;
    background: #F7F7F7;
  }
  #products .container{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
  #products a{
    text-decoration: none;
    outline: none;
  }
  #products .product_card {
    border-radius: 5px;
  }
  #products .product_card .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
  }
  #products .product_card .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #products .product_card:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #products .product_card .text-box{
    text-align: center;
  }
  #products .product_card .text-box .text-container{
    padding: 30px 18px;
  }
  #products .product_card{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #products .product_card:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #products .product_card .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #products .product_card .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #00acc1;
  }